@{
    ViewData["Title"] = "About";
}

<h2>Stocks Selection Criteria By Richard Tortoriello </h2>

<dl>
    <dt>Enterprise Value to EBITDA <= 8</dt>
    <dd>- Over the 20 years test period, companies with EV-to-EBITDA ratios of 8x or lower outperformed, and companies with the same ratios of 11x or lower underperformed</dd>
    <dt>Cash ROIC >= 12%</dt>
    <dd>- Over the 20 years test period, companies with cash ROIC of 12% or more outperformed, while those with cash ROIC ratios of 4% or less underperformed</dd>
    <dt>Return on Equity >= 18%</dt>
    <dd>- Investors should invest in companies that can generate a return on equity of 16% or more, and avoid the ones with a return on equity of 8% or lesser</dd>
    <dt>52-Week Price Range >= 82%</dt>
    <dd>- Acording to this, stocks that score 82% or above will preferable outperform, while the ones that score 41% or lower will tend to underperform</dd>
</dl>

<h3>Assignment submitted by:</h3>

<ol type="1">
    <li>Anoop Bharadwaj</li>
    <li>Divesh Naidu</li>
    <li>Kareem Marshall</li>
</ol>



