@{
    ViewData["Title"] = "Home Page";
}

<h1 align ="center">
    Welcome to our Site for Stock Picks.
</h1>
<p align ="center">
    Please browse our site to look at what stock we think you should buy or sell.
</p>
<p align ="center">
    You can find out how we picked our stocks by looking on the About Page. 
</p>