@{
    ViewData["Title"] = "Home Page";
}

<h1 align ="center">
    Welcome to our Site for Stock Picks.
</h1>
<h2 align ="center">
    Please browse our site to look at what stock we think you should buy or sell.
</h2>
<h2 align ="center">
    You can find out how we picked our stocks by looking on the About Page. 
</h2>